html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/*body {*/
/*padding-top: 100px;*/
/*}*/

.fw {
    width: 100%
}

.clf:after {
    content: " ";
    display: block;
    font-size: 0;
    line-height: 0;
    clear: both
}

.wc {
    width: 1000px
}

.left {
    float: left
}

.logo-container {
    margin-right: 0;
    float: none;
    width: 100%;
    text-align: center
}

.logo {
    background: #367fa9;
    border-top: 8px solid #266d96
}

.logo img {
    width: auto
}

#top {
    background: #3c8dbc;
    border-top: 8px solid #367fa9
}

#header {
    height: 77px;
    position: relative
}

#bottom {
    background: #266d96
}

#foot {
    border-top: 10px solid #3c8dbc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#footer .info {
    font-family: 'Alegreya', Georgia, 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: #eee;
    padding: 21px 0 14px;
    text-align: center;
    font-size: 16px;
}